:root {
    --accent: #2196F3;
    --background-dark: #2F303A;
    --color-conten: #212121;
} 

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #757575;
  letter-spacing: 0.03em;
}

.link-nonstyle {
  text-decoration: none;
}

.list-nonstyle {
  list-style: none;
}


/* =========== COMPONENTS =========== */



/* =========== END COMPONENTS =========== */

/* =========== HEADER ===========  */
.logo {
  color: #000000;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-decor {
    color: var(--accent);
}

.logo-dark {
  color: #000000;
}

.logo-light {
  color: #FFFFFF;
} 

.navigation-link {
  color: var(--color-conten);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent);
}

.contact-header {
  color: #757575;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  
}

.contact-header:hover,
.contact-header:focus {
  color: var(--accent);
}

.active-link {
  color: var(--accent);
}
/* =========== END HEADER ===========  */

/* =========== HERO SECTION =========== */
.hero {
  background-color: var(--background-dark);
}

.hero-title {
  color: #FFFFFF;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  
}
.btn-hero {
  background-color: #2196f3;
  color: #ffffff;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  cursor: pointer;
  
}

.btn-hero:hover,
.btn-hero:focus {
  background-color: #188ce8;
  color: #ffffff;
}


/* =========== END HERO SECTION =========== */

/* ======== ADVANTAGE SECTION ======== */
.advantage-title {
  color: var(--color-conten);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.advantage-rubric {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
/* ======== END ADVANTAGE SECTION ======== */

/* ============ PASSION SECTION ============ */
.passion-title {
  color: var(--color-conten);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  
}
/* ============ END PASSION SECTION ============ */

/* ======== TEAM SECTION ======== */
.team-title {
  color: var(--color-conten);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.taem-name {
  color: var(--color-conten);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
  
.team-function {
  font-size: 16px;
  line-height: 1.19;
}

/* ======== END TEAM SECTION ======== */


/* ============ FOOTER ============= */

.footer {
  background-color: var(--background-dark);
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.footer-address {
  color: #ffffff;
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);
}

/* ======= PORFOLIO PAGE =============== */

/* ======= PORTFOLIO SECTION ======= */
.portfolio-title {
  color:var(--color-conten);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-rubric{
  font-size: 16px;
  line-height: 1.88;
}

.btn-choose {
  cursor: pointer;
  background-color: #f5f4fa;
  color: var(--color-conten);
}

.btn-choose:hover,
.btn-choose:focus {
  background-color: var(--accent);
  color: #ffffff;
}
  

/* ======= END PORFOLIO SECTION ======= */