:root {
    --accent: #2196F3;
    --background-dark: #2F303A;
    --color-conten: #212121;
} 

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #757575;
  letter-spacing: 0.03em;
}

.link-nonstyle {
  text-decoration: none;
}

.list-nonstyle {
  list-style: none;
}


/* =========== COMPONENTS =========== */



/* =========== END COMPONENTS =========== */

/* =========== HEADER ===========  */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}
.logo-decor {
    color: var(--accent);
}

.logo-dark {
  color: #000000;
}

.logo-light {
  color: #FFFFFF;
} 

.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-conten);
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent);
}
.contact-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.contact-header:hover,
.contact-header:focus {
  color: var(--accent);
}

.active-link {
  color: var(--accent);
}
/* =========== END HEADER ===========  */

/* =========== HERO SECTION =========== */
.hero {
  background-color: var(--background-dark);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF
}
.btn-hero {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: #2196f3;
  color: #ffffff;
}

.btn-hero:hover,
.btn-hero:focus {
  background-color: #188ce8;
  color: #ffffff;
}


/* =========== END HERO SECTION =========== */

/* ======== ADVANTAGE SECTION ======== */
.advantage-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--color-conten);
}

.advantage-rubric {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  }
/* ======== END ADVANTAGE SECTION ======== */

/* ============ PASSION SECTION ============ */
.passion-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--color-conten);
}
/* ============ END PASSION SECTION ============ */

/* ======== TEAM SECTION ======== */
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: var(--color-conten);

}
.taem-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--color-conten);
}
  
.team-function {
  font-size: 16px;
  line-height: 1.19;
}

/* ======== END TEAM SECTION ======== */


/* ============ FOOTER ============= */

.footer {
  background-color: var(--background-dark);
}

.address {
  font-size: 14px;
  line-height: 1.7;
}

.footer-address {
  color: #ffffff;
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);
}

/* ======= PORFOLIO PAGE =============== */
/* ======= CHOOSE SECTION ======= */
.btn-choose {
  cursor: pointer;
  background-color: #f5f4fa;
  color: var(--color-conten);
}

.btn-choose:hover,
.btn-choose:focus {
  background-color: var(--accent);
  color: #ffffff;
}
/* ======= END CHOOSE SECTION ======= */

/* ======= PORFOLIO SECTION ======= */
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color:var(--color-conten);

}
.portfolio-rubric{
  font-size: 16px;
  line-height: 1.88;
  }


  

/* ======= END PORFOLIO SECTION ======= */